<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776171430029-gib5knjj0m80sdesjiuu3fstt899tjds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776171430029-gib5knjj0m80sdesjiuu3fstt899tjds</string>
	<key>API_KEY</key>
	<string>AIzaSyDtTvpYM53m17fZXybBXxXiFLe6MK68flc</string>
	<key>GCM_SENDER_ID</key>
	<string>776171430029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harshRajpurohit.weChat</string>
	<key>PROJECT_ID</key>
	<string>securathon</string>
	<key>STORAGE_BUCKET</key>
	<string>securathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776171430029:ios:d70749964fe0eb42f2c2c4</string>
</dict>
</plist>